<!--
<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Clientes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Serviços</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>  
      </span>  
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Ficha Anamnese App</span>
</mat-toolbar>

      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icons -->
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="/customers">
          <i class="fas fa-users"></i>
        </a>
      </li>
      <!-- Icon dropdown -->
      <li mdbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false">
          <i class="fas fa-cog"></i>
        </a>
        <ul 
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Serviços</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Questões</a>
          </li>          
          <li>
            <a class="dropdown-item" href="#">Formularios</a>
          </li>          
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet />



