<div class="container mt-4">
    <h2 class="mb-4">Customer List</h2>
    <table class="table table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
            </tr>
        </tbody>
    </table>
</div>
